.toolbar-layout {
  --padding: 36px;
  display: flex;
  width: calc(100% - 72px);
  flex-direction: row;
  justify-content: space-between;
  padding-left: var(--padding);
  padding-right: var(--padding);
  align-items: center;
  color: white;
  font-size: 20px;
}

.toolbar-title-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 170px;
  padding-left: 8px;
}

.settings-icon {
  width: 29px;
  height: 29px;
  cursor: pointer;
  transition-duration: 0.2s;
}

.settings-icon:hover {
  transform: rotate(90deg);
}
